PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/?appName=<AppName>
JWT_SECRET=your_super_secret_jwt_key_here
DEEPL_API_KEY=your_deepl_api_key_here
CLIENT_URL=http://localhost:5173
NODE_ENV=development
ML_SERVICE_URL=http://localhost:8000
